<div class="welcome-container" >
  <mat-card class="welcome-card">
    <div class="title">
    <h1> Welcome to MyFlix!</h1>
  </div>
<div class="user-prt">
    <button
    mat-mini-fab
    color="white"
  class="my-fab"
    (click)="openLoginDialog()"
  >Login
  <mat-icon >login</mat-icon>
  </button>
    <button
    mat-mini-fab
    class="my-fab"
    (click)="openUserRegistrationDialog()"
  color="white">Register
    <mat-icon >
     how_to_reg
    </mat-icon>
  </button>
</div>

</mat-card>
  </div>