.wrapper {
  display: flex;
  background-color: gray;
  text-align: center;
  border: 2px solid black;
  width: 300px;
  border-radius: 20%;
}

.title {
  text-align: center;
  font-size: 30px;
  background-color: rgb(194, 84, 84);
}
